@font-face {
	font-family: 'Montserrat 700';
	src: url('/assets/fonts/montserrat-700-normal.eot');
	src: local('☺'), url('/assets/fonts/montserrat-700-normal.woff') format('woff'),
	url('/assets/fonts/montserrat-700-normal.ttf') format('truetype'),
	url('/assets/fonts/montserrat-700-normal.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}