.rsWrapper {
    box-sizing: border-box;

    .rsBase {
        background: #a0a0a0;
        height: 15px;
        border-radius: 5px;
        position: relative;


        .rsThumb {
            width: 10px;
            height: 25px;
            border-radius: 4px;
            position: absolute;
            top: -5px;
            cursor: pointer;

            &_1 {
                background-color: #0066ff;
            }

            &_2 {
                background-color: purple;
            }
        }
    }
};